@import url(../css/null.css);

// fonts ==============================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// ==================================================================================================================

// colors =============================================================================================================
$orange: #ec6a39;
$white: #ffffff;
// ==================================================================================================================

// body ==============================================================================================================
body {
	font-family: "Open Sans", sans-serif;
	color: $white;
	background-color: #2a2a32;
}
// ==================================================================================================================

// common styles =======================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1174px;
	margin: 0 auto;
	padding: 0 17px;
}

.backtitle {
	font-weight: 800;
	font-size: 150px;
	text-transform: uppercase;
	opacity: 0.25;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: -webkit-linear-gradient(rgba(73, 196, 230, 0.1), rgba(10, 38, 46, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #000;
	cursor: default;
	@media (max-width: 992px) {
		display: none;
	}
}
.title {
	color: $orange;
	font-weight: 300;
	font-size: 60px;
	line-height: 82px;
	text-transform: uppercase;
	@media (max-width: 992px) {
		font-size: 40px;
		line-height: 54px;
	}
}
.subtitle {
	color: $white;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
}
.text {
	color: $white;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	span {
		display: inline-block;
		margin: 29px 0px 0px 0px;
	}
}
.btn {
	position: relative;
	height: 60px;
	background-color: $orange;
	border-radius: 3px;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	color: $white;
	transition: 0.4s ease;
	@media (max-width: 992px) {
		width: 100%;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -12px;
		left: 10%;
		width: 80%;
		height: 20px;
		background: rgba(236, 106, 57, 0.5);
		filter: blur(25px);
		border-radius: 3px;
	}
	&:hover {
		background-color: $white;
		color: $orange;
	}
	&--dark {
		background-color: transparent;
		color: $orange;
		border: 2px solid $orange;
		font-weight: 600;
		&::after {
			display: none;
		}
		&:hover {
			background-color: $orange;
			color: $white;
		}
	}
}
.scroll-to-top {
	position: fixed;
	bottom: -70px;
	right: 53px;
	width: 24px;
	height: 23px;
	display: block;
	background: url(../img/scroll-btn.svg) center/cover no-repeat;
	transition: 1.4s ease;
	@media (max-width: 992px) {
		width: 20px;
		height: 19px;
		right: 20px;
	}
	&.show {
		bottom: 70px;
		transition: bottom 1.4s ease, background 0.4s ease;
		@media (max-width: 1350px) {
			bottom: 40px;
		}
		@media (max-width: 992px) {
			bottom: 70px;
			right: 20px;
		}
		@media (min-width: 993px) {
			&:hover {
				background: url(../img/scroll-btn-hover.svg) center/contain no-repeat;
			}
		}
	}
}
// ==================================================================================================================

// header =============================================================================================================
.header {
	padding: 14px 0 14px 0;
	position: fixed;
	width: 100%;
	z-index: 200;
	background-color: #2a2a32;
	@media (max-width: 992px) {
		height: 63px;
		padding: 7px 0 7px 0;
	}
	@media (max-width: 480px) {
		padding: 4px 0 4px 0;
	}
	&__container {
		max-width: 1434px;
		@media (min-width: 1351px) {
			padding: 0px 17px 0px 14px;
		}
	}

	&-row {
		display: flex;
	}

	&__column {
		&:nth-child(1) {
			flex: 0 0 158px;
			@media (max-width: 992px) {
				margin: 0 auto;
			}
			@media (max-width: 480px) {
				flex: 0 0 110px;
			}
		}
		&:nth-child(2) {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@media (max-width: 1350px) {
				justify-content: center;
			}
			@media (max-width: 992px) {
				flex: 0 0 0;
			}
		}
		&:nth-child(3) {
			flex: 0 0 295px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (min-width: 1351px) {
				flex: 0 0 298px;
			}
			@media (max-width: 992px) {
				flex: 0 0 0;
			}
		}
	}

	&-logo {
		transition: 0.4s ease;
		&:hover {
			opacity: 0.8;
		}
		a {
			img {
				@media (max-width: 480px) {
					width: 110px;
					height: 37px;
				}
			}
		}
	}

	&-menu {
		&-list {
			display: flex;
			@media (min-width: 1351px) {
				padding: 3px 0px 0px 0px;
			}
			@media (max-width: 1350px) {
				flex-wrap: wrap;
				margin: 0 0 0 20px;
			}
			&__link {
				font-size: 16px;
				margin: 0 40px 0 0;
				@media (max-width: 1350px) {
					line-height: 24px;
				}
				&:last-child {
					margin: 0 92px 0 0;
					@media (max-width: 1350px) {
						margin: 0 20px 0 0;
					}
				}
				a {
					color: $white;
					transition: 0.4s ease;
					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
	&-login {
		@media (max-width: 992px) {
			padding: 20px 20px 20px 80px;
		}
		@media (max-width: 480px) {
			padding: 20px 20px 20px 50px;
		}
		&__btn {
			width: 126px;
			height: 46px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			background-color: $white;
			color: #364a73;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			transition: 0.4s ease;
			&:hover {
				background-color: #364a73;
				color: $white;
			}
		}
	}

	&-lang {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		@media (max-width: 992px) {
			padding: 20px 20px 20px 80px;
		}
		@media (max-width: 480px) {
			padding: 20px 20px 20px 50px;
		}

		&__english {
			position: relative;
			z-index: 101;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: 0.4s ease;
			&:hover {
				color: $orange;
				.header-lang__button {
					background: url(../img/header/icon-orange.svg) center no-repeat;
				}
				.header-lang__image {
					img {
						transition: 0.4s ease;
						box-shadow: 0px 0.5px 1px 1px $orange;
					}
				}
			}
		}
		&__russian {
			position: absolute;
			display: flex;
			align-items: center;
			top: 40px;
			height: 200%;
			width: 115%;
			left: -10%;
			padding-left: 10%;
			background-color: #2a2a32;
			transform: translate(0px, -50%);
			visibility: hidden;
			opacity: 0;
			z-index: 100;
			transition: 0.4s ease;
			@media (max-width: 992px) {
				height: 120%;
				width: 126px;
				left: 0;
				background-color: unset;
				padding-left: 80px;
			}
			@media (max-width: 480px) {
				padding-left: 50px;
			}
			&:hover {
				color: $orange;
				.header-lang__image {
					img {
						transition: 0.4s ease;
						box-shadow: 0px 0.5px 1px 1px $orange;
					}
				}
			}
			&.active {
				transform: translate(0px, 0);
				visibility: visible;
				opacity: 1;
			}
		}
		&__image {
			width: 25px;
			height: 25px;
			img {
				transition: 0.4s ease;
				border-radius: 50%;
			}
		}

		&__language {
			margin: 0 27px 0 10px;
			font-size: 16px;
			cursor: pointer;
		}

		&__button {
			width: 11px;
			height: 7px;
			background: url(../img/header/icon.svg) center no-repeat;
			display: flex;
			align-items: center;
			background-color: transparent;
			border: none;
			outline: none;
			transition: 0.4s ease;
		}
	}
}

//  ===================================================================================================================

// hamburger menu =======================================================================================================
#menu__toggle {
	display: none;
}
@media (max-width: 992px) {
	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu-box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 25px;
		left: 25px;
		width: 19px;
		height: 17px;

		cursor: pointer;
		z-index: 1;
		@media (max-width: 480px) {
			top: 13px;
			left: 7px;
		}
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;

		width: 100%;
		height: 2px;

		background-color: #656569;

		transition-duration: 0.25s;
	}
	.menu__btn > span::before {
		content: "";
		top: -8px;
	}
	.menu__btn > span::after {
		content: "";
		top: 8px;
	}

	.menu-box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;

		width: 100%;
		height: 90%;

		margin: 63px 0px 0px 0px;
		padding: 20px 0px 20px 0px;

		list-style: none;

		background-color: hsla(240, 9%, 18%, 0.94);

		transition-duration: 0.25s;

		overflow-y: auto;
		li {
			padding: 20px 20px 20px 80px;

			&:last-child {
				padding: 20px 20px 90px 80px;
				@media (max-width: 400px) {
					padding: 20px 20px 90px 50px;
				}
			}
			@media (max-width: 480px) {
				padding: 15px 20px 15px 50px;
				line-height: 34px;
			}
		}
	}

	.menu-item {
		display: block;

		color: #ffffff;

		font-family: "AvantiBold";
		font-size: 36px;
		text-decoration: none;

		transition-duration: 0.25s;
	}
	.menu-item:hover {
		background-color: #cfd8dc;
	}
}

// ===================================================================================================================

// intro  ===============================================================================================================
.intro {
	margin: 0 0 48px 0;
	padding: 218px 0px 0px 0px;
	background: url(../img/intro/bg.png) 0 0/100% no-repeat;
	@media (max-width: 992px) {
		margin: 0 0 0 0;
		padding: 100px 0px 0px 0px;
		background: url(../img/intro/bg.png) 0 0 / cover no-repeat;
	}
	&__container {
		max-width: 1313px;
		padding: 0 20px;
		@media (max-width: 992px) {
			padding: 0 16px;
		}
	}

	&-top {
		display: flex;
		position: relative;
		@media (min-width: 1642px) {
			left: 75px;
		}
		@media (max-width: 992px) {
			flex-direction: column;
		}
		&-text {
			flex: 0 1 565px;
			max-width: 565px;
			position: relative;
			@media (max-width: 992px) {
				flex: 0 0 100%;
				max-width: none;
			}
			&__backtitle {
				font-size: 200px;
				line-height: 142px;
				position: absolute;
				top: -74px;
				left: -9px;
				@media (max-width: 992px) {
					display: block;
					font-size: 90px;
					line-height: 90px;
					top: -24px;
				}
				@media (max-width: 480px) {
					max-width: 100%;
					overflow: hidden;
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 15px;
					background-color: #2a2a32;
					position: absolute;
				}
				span {
					position: absolute;
					display: block;
					width: 168px;
					height: 167px;
					border-radius: 50%;
					background-color: #20232a;
					top: -26px;
					left: -206px;
					&::before {
						content: "";
						position: absolute;
						display: block;
						width: 85px;
						height: 85px;
						border-radius: 50%;
						background-color: #20232a;
						left: -10px;
						bottom: -15px;
					}
					&::after {
						content: "";
						position: absolute;
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #49c4e6;
						box-shadow: 0px 0px 25px #49c4e6;
						left: 0;
						bottom: 0;
					}
				}
			}

			&__title {
				position: relative;
				z-index: 5;
				margin: 0 0 27px 0;
				@media (max-width: 480px) {
					margin: 0px 0px 20px 0px;
					letter-spacing: 2px;
					line-height: 59px;
				}
			}

			&__text {
				margin: 0 0 63px 0;
				font-weight: 300;
				font-size: 30px;
				line-height: 45px;
				color: $white;
				@media (max-width: 480px) {
					font-size: 20px;
					line-height: 30px;
					margin: 0px 0px 34px 0px;
				}
			}

			&__btn {
				@media (min-width: 993px) {
					width: 354px;
				}
				@media (max-width: 992px) {
					width: 100%;
				}
			}
		}

		&-building {
			flex: 1 1 auto;
			position: relative;
			@media (max-width: 992px) {
				display: flex;
				justify-content: center;
			}
			&__image {
				position: relative;
				top: -93px;
				right: -4px;
				@media (max-width: 992px) {
					top: 0;
					margin-top: 54px;
				}
				img {
					max-width: 100%;
					@media (max-width: 992px) {
						width: 100%;
						max-width: 400px;
					}
				}
			}
			&__cloud {
				position: absolute;
				@media (max-width: 992px) {
					display: none;
				}
				&_1 {
					width: 66.96px;
					height: 62.28px;
					top: 8.5%;
					left: 17%;
					background: url(../img/intro/cloud-1.png) center/contain no-repeat;
					animation: cloud_1 9s linear 0s infinite normal forwards;
					@keyframes cloud_1 {
						0% {
							transform: translate(0, 0);
						}
						15% {
							transform: translate(-5px, 0);
						}
						30% {
							transform: translate(-3px, -5px);
						}
						45% {
							transform: translate(3px, -3px);
						}
						60% {
							transform: translate(3px, 2px);
						}
						75% {
							transform: translate(-4px, 4px);
						}
						90% {
							transform: translate(0px, -2px);
						}
						100% {
							transform: translate(0, -1px);
						}
					}
					&::before {
						content: "";
						width: 66.96px;
						height: 62.28px;
						position: absolute;
						background: url(../img/intro/cloud-2.png) center/cover no-repeat;
						opacity: 0.8;
					}
				}
				&_2 {
					width: 107.8px;
					height: 100.28px;
					right: -3%;
					top: 10%;
					background: url(../img/intro/cloud-1.png) center/contain no-repeat;
					animation: cloud_2 12s linear 0s infinite normal forwards;
					@keyframes cloud_2 {
						0% {
							transform: translate(0, 0);
						}
						15% {
							transform: translate(5px, 0);
						}
						30% {
							transform: translate(-3px, -5px);
						}
						45% {
							transform: translate(3px, -3px);
						}
						60% {
							transform: translate(0px, 2px);
						}
						75% {
							transform: translate(-4px, 4px);
						}
						90% {
							transform: translate(0px, -2px);
						}
						100% {
							transform: translate(0, -1px);
						}
					}
					@media (max-width: 1350px) {
						right: 3%;
					}
					&::before {
						content: "";
						width: 107.8px;
						height: 100.28px;
						position: absolute;
						background: url(../img/intro/cloud-2.png) center/cover no-repeat;
						opacity: 0.8;
					}
				}
				&_3 {
					width: 58.36px;
					height: 54.28px;
					top: 49%;
					right: -4%;
					background: url(../img/intro/cloud-1.png) center/contain no-repeat;
					animation: cloud_1 7s linear 0s infinite normal forwards;
					@keyframes cloud_1 {
						0% {
							transform: translate(0, 0);
						}
						15% {
							transform: translate(-2px, 4px);
						}
						30% {
							transform: translate(-3px, -2px);
						}
						45% {
							transform: translate(3px, -3px);
						}
						60% {
							transform: translate(1px, 1px);
						}
						75% {
							transform: translate(-2px, 4px);
						}
						90% {
							transform: translate(0px, -2px);
						}
						100% {
							transform: translate(0, -1px);
						}
					}
					@media (max-width: 1350px) {
						right: 3%;
					}
					&::before {
						content: "";
						width: 58.36px;
						height: 54.28px;
						position: absolute;
						background: url(../img/intro/cloud-2.png) center/cover no-repeat;
						opacity: 0.8;
					}
				}
			}
		}
	}

	&-bottom {
		display: flex;
		position: relative;
		top: -134px;
		padding: 0;
		z-index: 5;
		@media (max-width: 1350px) {
			top: 0;
		}
		@media (max-width: 992px) {
			flex-direction: column;
		}
		&-column {
			flex: 0 1 33.333%;
			@media (max-width: 992px) {
				flex: 1 1 100%;
			}
			&:nth-child(1) {
				margin: 0px 10px 0px 0px;
				@media (max-width: 992px) {
					margin: 0;
				}
			}
			&:nth-child(2) {
				margin: 90px 11px 0 0;
				padding: 0px 0px 0px 21px;
				@media (max-width: 992px) {
					margin: 20px 0 0 0;
					padding: 0;
				}
			}
			&:nth-child(3) {
				margin: 208px 0 0 0;
				@media (max-width: 992px) {
					margin: 17px 0 0 0;
				}
			}
			&__image {
				&--1 {
					@media (min-width: 993px) {
						padding: 0px 0px 0px 9px;
					}
				}
				&--2 {
					@media (max-width: 992px) {
						padding: 2px 0 0 11px;
					}
				}
				&--3 {
					@media (max-width: 480px) {
						position: relative;
						left: -12px;
					}
				}
				img {
					max-width: 100%;
				}
			}

			&__text {
				font-size: 20px;
				line-height: 30px;
				font-weight: 300;
				color: $white;
				&--1 {
					margin: 37px 0px 0px 0px;
					padding: 0px 0px 0px 22px;
					@media (max-width: 992px) {
						margin: 32px 0px 0px 0px;
						padding: 0;
					}
				}
				&--2 {
					margin: 35px 0px 0px 0px;
					padding: 0px 0px 0px 10px;
					@media (max-width: 992px) {
						padding: 0;
						margin: 21px 0px 0px 0px;
					}
					a {
						color: #2af6ff;
						text-decoration: underline;
						text-decoration-style: solid;
						transition: 0.4s ease;
						&:hover {
							color: $orange;
						}
					}
				}
				&--3 {
					margin: 20px 0px 0px 0px;
					padding: 0px 0px 0px 35px;
					@media (max-width: 992px) {
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}
}

// ===================================================================================================================

// work ===============================================================================================================
.work {
	position: relative;
	@media (min-width: 993px) {
		&::before {
			content: "";
			width: 100%;
			height: 210%;
			top: -430px;
			position: absolute;
			background: url(../img/work/bg.svg) 0 0 / cover no-repeat;
		}
	}
	@media (max-width: 992px) {
		margin: 60px 0px 0px 0px;
	}
	&-wrapper {
		width: 100%;
		height: 700px;
		top: -300px;
		position: absolute;
		overflow: hidden;
	}
	&__decor {
		display: none;
		@media (min-width: 1441px) {
			display: block;
			position: relative;
			top: 333px;
			min-width: 1920px;
			&::before {
				content: "";
				width: 86px;
				height: 523px;
				right: 49px;
				top: -473px;
				position: absolute;
				transform: rotate(30deg);
				background: url(../img/work/anim-1.svg) center/cover no-repeat;
				animation: work-decor-1 6s linear infinite forwards;
				@keyframes work-decor-1 {
					0% {
						transform: rotate(30deg) translate(0, 0);
						opacity: 0;
					}
					15% {
						opacity: 1;
					}
					70% {
						transform: rotate(30deg) translate(0, 20%);
						opacity: 1;
					}
					90% {
						transform: rotate(30deg) translate(0, 30%);
						opacity: 0;
					}
					100% {
						transform: rotate(30deg) translate(0, 0);
						opacity: 0;
					}
				}
			}
			&::after {
				content: "";
				width: 94px;
				height: 347px;
				top: -80px;
				right: 176px;
				position: absolute;
				transform: rotate(30deg);
				background: url(../img/work/anim-2.svg) center/cover no-repeat;
				animation: work-decor-2 5s linear infinite forwards;
				@keyframes work-decor-2 {
					0% {
						transform: rotate(30deg) translate(0, 0);
						opacity: 0;
					}
					15% {
						opacity: 1;
					}
					70% {
						transform: rotate(30deg) translate(0, 15%);
						opacity: 1;
					}
					90% {
						transform: rotate(30deg) translate(0, 20%);
						opacity: 0;
					}
					100% {
						transform: rotate(30deg) translate(0, 0);
						opacity: 0;
					}
				}
			}
		}
	}
	&__container {
		display: flex;
		position: relative;
	}

	&-image {
		position: relative;
		top: -39px;
		flex: 0 1 50%;
		margin: 0px 32px 0px 0px;
		padding: 0px 0px 0px 5px;

		@media (max-width: 992px) {
			display: none;
		}
		&__image {
			max-width: 100%;
		}
	}

	&-body {
		flex: 0 1 50%;
		position: relative;
		@media (max-width: 992px) {
			flex: 1 1 100%;
		}
		&__backtitle {
			position: absolute;
			top: -50px;
			line-height: 120px;
			@media (max-width: 1050px) {
				right: 0;
			}
		}

		&__title {
			margin: 0px 0px 20px 0px;
			padding: 0px 0px 0px 6px;
			@media (max-width: 992px) {
				margin: 0px 0px 2px 0px;
				padding: 0;
			}
		}

		&__subtitle {
			margin: 0px 0px 17px 0px;
			padding: 0px 0px 0px 7px;
			@media (max-width: 992px) {
				padding: 0;
				margin: 0px 0px 21px 0px;
			}
		}

		&__text {
			padding: 0px 0px 0px 7px;
			@media (max-width: 992px) {
				padding: 0;
			}
		}

		&__btn {
			margin: 71px 0px 0px 7px;
			@media (min-width: 993px) {
				width: 300px;
			}
			@media (max-width: 992px) {
				margin: 43px 0px 0px 0px;
				width: 100%;
			}
		}
	}
}

//====================================================================================================================

// system ==============================================================================================================
.system {
	margin: 337px 0px 0px 0px;
	position: relative;
	@media (min-width: 993px) {
		&::before {
			content: "";
			position: absolute;
			top: -75px;
			width: 100%;
			height: 120%;
			background: url(../img/system/bg.svg) center/cover no-repeat;
		}
	}
	@media (max-width: 992px) {
		margin: 56px 0px 0px 0px;
	}
	&__container {
		display: flex;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}

	&-body {
		position: relative;
		flex: 0 1 51%;
		&__backtitle {
			position: absolute;
			line-height: 115px;
		}

		&__title {
			margin: 45px 0px 50px 0px;
			padding: 0px 0px 0px 8px;
			@media (max-width: 992px) {
				padding: 0;
				margin: 50px 0px 30px 0px;
			}
		}

		&__text {
			margin: 0px 0px 57px 0px;
			padding: 0px 20px 0px 9px;
			@media (max-width: 992px) {
				margin: 0px 0px 52px 0px;
				padding: 0;
			}
		}

		&-buttons {
			display: flex;
			@media (min-width: 1440px) {
				padding: 0px 0px 0px 6px;
			}
			@media (max-width: 992px) {
				flex-direction: column;
			}
			&__column {
				flex: 0 1 47%;
				&:nth-child(2) {
					flex: 0 1 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					@media (max-width: 992px) {
						justify-content: start;
					}
				}
			}
			&__btn {
				width: 89%;
				max-width: 239px;
				@media (max-width: 992px) {
					width: 100%;
					max-width: none;
				}
			}

			&__download {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				top: -10px;
				margin: 0px 4px 0px 0px;
				font-size: 16px;
				color: $orange;
				font-weight: 600;
				text-transform: uppercase;
				transition: 0.4s ease;
				@media (max-width: 992px) {
					top: 30px;
					justify-content: flex-start;
					width: 100%;
					margin: 0;
				}
				&::before {
					content: "";
					margin: 2px 20px 0px 0px;
					width: 80px;
					height: 80px;
					display: block;
					background: url(../img/system/download.png) no-repeat;
					transition: 0.4s ease;
				}
				&:hover {
					color: $white;
					&::before {
						background: url(../img/system/download-hover.png) no-repeat;
					}
				}
			}
		}
	}

	&-image {
		position: relative;
		flex: 0 1 49%;
		display: flex;
		justify-content: center;
		@media (min-width: 1440px) {
			left: 20px;
			top: 7px;
		}
		&__image {
			max-width: 100%;
			max-height: 681px;
			position: relative;
			top: -7px;
			@media (max-width: 992px) {
				width: 100%;
				max-width: 285px;
				top: -3px;
			}
		}

		&__cloud {
			position: absolute;
			@media (max-width: 992px) {
				display: none;
			}
			&--1 {
				width: 61px;
				height: 57px;
				top: calc(175 / 683 * 100%);
				left: -10px;
				background: url(../img/system/cloud.png) center/cover no-repeat;
				animation: cloud_1 11s linear 0s infinite normal forwards;
				&::before {
					content: "";
					width: 100%;
					height: 100%;
					background: url(../img/system/cloud-icon.png) center/cover no-repeat;
				}
			}

			&--2 {
				width: 31.7px;
				height: 29.5px;
				top: calc(40 / 683 * 100%);
				left: calc(90 / 558 * 100%);
				background: url(../img/system/cloud.png) center/cover no-repeat;
				animation: cloud_2 9s linear 0s infinite normal forwards;
			}

			&--3 {
				width: 31.7px;
				height: 29.5px;
				top: -8px;
				left: calc(390 / 558 * 100%);
				background: url(../img/system/cloud.png) center/cover no-repeat;
				animation: cloud_3 7s linear 0s infinite normal forwards;
			}

			&--4 {
				width: 81.44px;
				height: 75.75px;
				top: calc(145 / 683 * 100%);
				right: 15px;
				background: url(../img/system/cloud.png) center/cover no-repeat;
				animation: cloud_1 8s linear 0s infinite normal forwards;
			}
		}
	}
}

//====================================================================================================================

// about ===============================================================================================================
.about {
	margin: 139px 0px 0px 0px;
	position: relative;
	@media (max-width: 992px) {
		margin: 0px 0px 58px 0px;
	}
	@media (max-width: 480px) {
		margin: 50px 0px 58px 0px;
	}
	&__container {
		display: flex;
		@media (min-width: 1440px) {
			padding: 0px 6px;
		}
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}

	&-wrapper {
		width: 300px;
		height: 700px;
		top: -40px;
		position: absolute;
		overflow: hidden;
		@media (min-width: 1591px) {
			width: 400px;
		}
		@media (max-width: 1240px) {
			display: none;
		}
	}
	&__decor {
		display: none;
		@media (min-width: 1241px) {
			display: block;
			position: relative;
			top: 320px;
			left: -120%;
			&::before {
				content: "";
				width: 86px;
				height: 523px;
				left: 294px;
				top: -375px;
				position: absolute;
				transform: rotate(-30deg);
				background: url(../img/work/anim-1.svg) center/cover no-repeat;
				animation: about-decor-1 6s linear infinite forwards;
				@keyframes about-decor-1 {
					0% {
						transform: rotate(-30deg) translate(0, 0);
						opacity: 0;
					}
					15% {
						opacity: 1;
					}
					70% {
						transform: rotate(-30deg) translate(0, 20%);
						opacity: 1;
					}
					90% {
						transform: rotate(-30deg) translate(0, 30%);
						opacity: 0;
					}
					100% {
						transform: rotate(-30deg) translate(0, 0);
						opacity: 0;
					}
				}
			}
			&::after {
				content: "";
				width: 94px;
				height: 347px;
				top: -14px;
				left: 403px;
				position: absolute;
				transform: rotate(-30deg);
				background: url(../img/work/anim-2.svg) center/cover no-repeat;
				animation: about-decor-2 5s linear infinite forwards;
				@keyframes about-decor-2 {
					0% {
						transform: rotate(-30deg) translate(0, 0);
						opacity: 0;
					}
					15% {
						opacity: 1;
					}
					70% {
						transform: rotate(-30deg) translate(0, 15%);
						opacity: 1;
					}
					90% {
						transform: rotate(-30deg) translate(0, 20%);
						opacity: 0;
					}
					100% {
						transform: rotate(-30deg) translate(0, 0);
						opacity: 0;
					}
				}
			}
		}
		@media (min-width: 1591px) {
			left: -220px;
		}
	}

	&-image {
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 1 1 100%;
			display: flex;
			justify-content: center;
		}
		&__wrapper {
			position: relative;
			@media (max-width: 992px) {
				width: 90%;
				display: flex;
				justify-content: center;
				padding: 0px 0px 0px 15px;
			}
		}
		&__image {
			max-width: 100%;
			@media (max-width: 992px) {
				width: 100%;
				max-width: 270px;
			}
		}
	}

	&-body {
		position: relative;
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		@media (min-width: 1440px) {
			padding: 0px 0px 0px 22px;
		}
		@media (max-width: 992px) {
			flex: 1 1 100%;
		}
		&__backtitle {
			top: 223px;
			line-height: 115px;
			position: absolute;
		}

		&__title {
			margin: 273px 0px 30px 0px;
			@media (max-width: 992px) {
				margin: 28px 0px 24px 0px;
			}
		}

		&__text {
			margin: 0px 0px 55px 0px;
			@media (max-width: 992px) {
				margin: 0px 0px 45px 0px;
			}
		}

		&-buttons {
			display: flex;
			@media (max-width: 992px) {
				flex-direction: column;
			}
			&__link {
				height: 61px;
				border-radius: 3px;
				border: 2px solid $orange;
				transition: 0.4s ease;
				&:hover {
					box-shadow: 0 10px 15px -3px #ec6a39;
				}
				&--google {
					width: 228px;
					margin: 0px 20px 0px 0px;
					background: url(../img/about/google.png) center no-repeat;
					@media (max-width: 992px) {
						margin: 0px 0px 28px 0px;
						width: 100%;
					}
				}

				&--apple {
					width: 198px;
					background: url(../img/about/apple.png) center no-repeat;
					@media (max-width: 992px) {
						width: 100%;
					}
				}
			}
		}
	}
}

//====================================================================================================================

// income  ==============================================================================================================
.income {
	margin: 12px 0px 190px 0px;
	@media (max-width: 992px) {
		display: none;
	}
	&__container {
		display: flex;
	}

	&-body {
		flex: 0 1 54%;
		position: relative;
		display: flex;
		flex-direction: column;
		@media (min-width: 993px) {
			padding: 0px 0px 0px 7px;
		}
		&__backtitle {
			position: absolute;
			line-height: 115px;
			top: 63px;
			@media (max-width: 1150px) {
				font-size: 9rem;
			}
		}

		&__title {
			margin: 120px 0px 30px 0px;
		}

		&__text {
			margin: 0px 0px 55px 0px;
			max-width: 556px;
			span {
				margin: 25px 0 0 0;
			}
		}

		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 192px;
			margin: 0px 0px 0px 3px;
			@media (max-width: 992px) {
				margin: 0;
				max-width: none;
			}
		}
	}

	&-image {
		flex: 0 1 46%;
		position: relative;
		right: 2px;
		top: -1px;
		&__image {
			max-width: 100%;
			@media (min-width: 993px) {
				max-width: 102%;
			}
		}
	}
}

//====================================================================================================================

// earn  ================================================================================================================
.earn {
	position: relative;
	@media (min-width: 993px) {
		&::before {
			content: "";
			position: absolute;
			width: 568px;
			height: 868px;
			right: 0;
			top: 0;
			background: url(../img/earn/circle-bg.png) right/cover no-repeat;
		}
	}
	&__decor {
		@media (min-width: 1661px) {
			&::before {
				content: "";
				position: absolute;
				width: 240px;
				height: 670px;
				top: 540px;
				left: 3.2%;
				background: url(../img/earn/anim-left.svg) center/100% no-repeat;
				animation: earn-anim 10s linear infinite forwards;
				@keyframes earn-anim {
					0% {
						transform: translate(0, -20px);
						opacity: 0;
					}
					20% {
						transform: translate(0, 10px);
						opacity: 1;
					}
					90% {
						transform: translate(0, 150px);
					}
					100% {
						transform: translate(0, 170px);
						opacity: 0;
					}
				}
			}
			&::after {
				content: "";
				position: absolute;
				width: 240px;
				height: 670px;
				top: 510px;
				right: 2.4%;
				background: url(../img/earn/anim-left.svg) center/100% no-repeat;
				transform: rotate(180deg);
				animation: earn-anim-2 10s linear infinite forwards;
				@keyframes earn-anim-2 {
					0% {
						transform: translate(0, 170px) rotate(180deg);
						opacity: 0;
					}
					20% {
						transform: translate(0, 150px) rotate(180deg);
						opacity: 1;
					}
					90% {
						transform: translate(0, 10px) rotate(180deg);
					}
					100% {
						transform: translate(0, -20px) rotate(180deg);
						opacity: 0;
					}
				}
			}
		}
	}
	&__container {
	}

	&-body {
		position: relative;
		text-align: center;
		margin: 0px 0px 90px 0px;
		@media (max-width: 992px) {
			margin: 0px 0px 40px 0px;
		}
		&__backtitle {
			position: absolute;
			line-height: 115px;
			top: -48px;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&__title {
			margin: 0px 0px 24px 0px;
			padding: 0px 0px 0px 14px;
			@media (max-width: 992px) {
				margin: 0px 0px 13px 0px;
				padding: 0;
			}
		}

		&__text {
			@media (min-width: 993px) {
				padding: 0px 0px 0px 15px;
			}
		}
	}

	&-images {
		display: flex;
		margin: 0px 0px 172px 0px;
		@media (max-width: 992px) {
			flex-direction: column;
			margin: 0px 0px 53px 0px;
		}
		&-column {
			flex: 0 1 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 0px 20px 0px 0px;
			@media (max-width: 992px) {
				margin: 0px 0px 0px 0px;
			}
			&--1 {
				@media (min-width: 993px) {
					padding: 0px 0px 0px 9px;
				}
			}
			&--2 {
				@media (min-width: 993px) {
					padding: 0px 0px 0px 14px;
					.earn-images-column__image {
						padding: 0px 0px 0px 19px;
					}
				}
			}
			&--3 {
				@media (min-width: 993px) {
					padding: 0px 0px 0px 19px;
					.earn-images-column__image {
						padding: 0px 0px 0px 7px;
					}
				}
			}
			&--4 {
				@media (min-width: 993px) {
					margin: 0;
					padding: 0px 0px 0px 19px;
					.earn-images-column__image {
						padding: 0px 7px 0px 0px;
					}
				}
			}

			&__image {
				height: 154px;
				&--1 {
					img {
						margin: 8px 0px 0px 0px;
					}
				}
				&--2 {
					@media (max-width: 992px) {
						padding: 20px 0 0 16px;
					}
				}
				&--3 {
					@media (max-width: 992px) {
						padding: 20px 0 0 10px;
						.earn-images-column__subtitle--3 {
							margin: 25px 9px 16px 0;
						}
					}
				}
				&--4 {
					padding: 19px 7px 0 0;
				}
				img {
					max-width: 100%;
				}
			}

			&__subtitle {
				margin: 25px 0px 16px 0px;
				@media (max-width: 992px) {
					margin: 44px 0px 15px 0px;
				}
				&--1 {
					margin: 27px 0 16px 0;
				}
			}

			&__text {
				&--4 {
					@media (max-width: 992px) {
						padding: 0 44px 0 46px;
					}
				}
			}
		}
	}

	&-buttons {
		display: flex;
		height: 278px;
		background: url(../img/earn/buttons-bg.png) center/110% 110% no-repeat;
		@media (max-width: 992px) {
			position: relative;
			height: 368px;
			padding: 36px 0 0 0;
		}
		&__container {
			padding: 0;
		}
		&-image {
			position: relative;
			flex: 0 1 27%;
			@media (max-width: 992px) {
				display: none;
			}
			&__image {
				position: absolute;
				max-width: 100%;
				left: 75px;
				bottom: 41px;
			}
		}

		&-body {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			padding: 43px 0px 0px 0px;
			@media (max-width: 992px) {
				padding: 0 17px;
			}
			&__label {
				color: $orange;
				font-weight: 300;
				font-size: 40px;
				text-transform: uppercase;
				@media (max-width: 992px) {
					font-size: 24px;
					line-height: 33px;
				}
			}

			&__text {
				margin: 25px 0px 32px 0px;
				@media (max-width: 992px) {
					margin: 16px 0px 20px 0px;
				}
			}

			&-wrapper {
				display: flex;
				padding: 0px 0px 0px 4px;
				@media (max-width: 992px) {
					padding: 0;
					flex-direction: column;
				}
				&__btn {
					display: flex;
					justify-content: center;
					align-items: center;
					&:first-child {
						margin: 0px 40px 0px 0px;
						@media (min-width: 993px) {
							width: 252px;
						}
						@media (max-width: 992px) {
							margin: 0px 0px 30px 0px;
						}
					}
					&:last-child {
						@media (min-width: 993px) {
							width: 237px;
						}
					}
				}
			}
		}
	}
}

// ====================================================================================================================

//  mining ==============================================================================================================
.mining {
	margin: 282px 0px 0px 0px;
	position: relative;
	@media (min-width: 993px) {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 10%;
			right: 0;
			top: -50px;
			background: url(../img/mining/bg.svg) right/cover no-repeat;
		}
	}
	@media (max-width: 992px) {
		margin: 55px 0px 0px 0px;
	}
	&__container {
	}

	&-text {
		position: relative;
		margin: 0px 0px 123px 0px;
		padding: 0px 0px 0px 15px;
		@media (max-width: 992px) {
			margin: 0px 0px 35px 0px;
			padding: 0;
		}
		&__backtitle {
			position: absolute;
			line-height: 115px;
			top: -48px;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&__title {
			text-align: center;
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 993px) {
			padding: 0px 0px 0px 10px;
		}
		&__row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px 41px;
			@media (max-width: 992px) {
				margin: 0px 0px 27px 0px;
			}
		}
		&-column {
			flex: 0 1 33.333%;
			margin: 0px 0px 82px 0px;
			padding: 0 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			@media (max-width: 992px) {
				flex: 1 1 100%;
				margin: 0px 0px 32px 0px;
				padding: 0;
			}
			&:nth-child(3),
			&:nth-child(6) {
				@media (min-width: 993px) {
					padding: 0 15px 0 25px;
				}
			}
			&:last-child {
				@media (max-width: 992px) {
					margin: 0px 0px 21px 0px;
				}
			}
			&__image {
				width: 163px;
				height: 163px;
				img {
					max-width: 100%;
				}
			}

			&__subtitle {
				margin: 17px 0 14px 0;
				@media (max-width: 992px) {
					margin: 15px 0px 17px 0px;
				}
			}

			&__text {
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
				color: $white;
			}
		}
		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			@media (min-width: 993px) {
				width: 275px;
			}
		}
	}
}

// ====================================================================================================================

// ====================================================================================================================
.partners {
	margin: 247px 0px 153px 0px;
	@media (max-width: 992px) {
		margin: 69px 0px 45px 0px;
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 1440px) {
			padding: 0 9px 0 17px;
		}
	}

	&__backtitle {
		position: absolute;
		line-height: 115px;
		top: -48px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	&__title {
	}

	&-body {
		display: flex;
		margin: 68px 0px 66px 0px;
		width: 100%;
		@media (max-width: 992px) {
			width: 310px;
			overflow-x: hidden;
			margin: 43px 0px 15px 0px;
		}
		@media (max-width: 330px) {
			width: 300px;
		}
		&__item {
			flex: 0 1 33.333%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0px 98px 0px 0px;
			@media (max-width: 992px) {
				flex: 1 0 100%;
				margin: 0;
				justify-content: space-between;
				flex-direction: column;
				overflow: hidden;
				animation: item-swap 10s ease 2s infinite forwards;
				@keyframes item-swap {
					0% {
						transform: translate(0%, 0);
					}
					48% {
						transform: translate(-100%, 0);
					}
					96% {
						transform: translate(-200%, 0);
					}
					99% {
						transform: translate(0%, 0);
					}
				}
			}
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		&__image {
			max-width: 100%;

			@media (max-width: 992px) {
				margin-bottom: 2px;
			}
		}
	}
	&-counter {
		display: flex;
		width: 310px;
		overflow: hidden;
		margin: 0px 0px 52px 0px;
		@media (min-width: 993px) {
			display: none;
		}
		@media (max-width: 330px) {
			width: 300px;
		}
		&__count {
			flex: 1 0 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			line-height: 15px;
			font-size: 15px;
			color: $white;
			font-weight: 400;
			@media (min-width: 993px) {
				display: none;
			}
		}
		&__body {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			height: 17px;
			span {
				font-weight: 600;
				color: $orange;
				font-size: 24px;
				padding-bottom: 15px;
				animation: item-swap-count 10s ease 2s infinite forwards;
				@keyframes item-swap-count {
					0% {
						transform: translate(0%, 0);
						opacity: 1;
					}
					48% {
						transform: translate(0, -100%);
						opacity: 1;
					}
					92% {
						transform: translate(0, -200%);
						opacity: 1;
					}
					95% {
						transform: translate(0, -200%);
						opacity: 0;
					}
					96% {
						transform: translate(0%, 0);
						opacity: 0;
					}
					100% {
						transform: translate(0%, 0);
						opacity: 1;
					}
				}
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: 993px) {
			width: 183px;
		}
	}
}

// ====================================================================================================================

//  footer ===============================================================================================================
.footer {
	background-color: #282830;
	&__container {
		max-width: 1394px;
		@media (min-width: 1440px) {
			max-width: 1411px;
			padding: 0 53px 0 0;
		}
		@media (max-width: 1439px) {
			max-width: 1174px;
		}
	}

	&__row {
		padding: 17px 0 6px 0;
		display: flex;
		@media (max-width: 992px) {
			height: 65px;
			padding: 30px 0px 0px 0px;
		}
	}

	&__logo {
		flex: 0 0 159px;
		height: 50px;
		margin: 0px calc(116 / 1360 * 100%) 0px 0px;
		transition: 0.4s ease;
		@media (max-width: 1440px) {
			margin: 0px calc(50 / 1174 * 100%) 0px 0px;
		}
		@media (max-width: 992px) {
			display: none;
		}
		&:hover {
			opacity: 0.8;
		}
		img {
			max-width: 100%;
		}
	}

	&-menu {
		flex: 1 1 auto;
		margin: 0px calc(158 / 1360 * 100%) 0px 0px;
		display: flex;
		align-items: center;
		@media (max-width: 1440px) {
			margin: 0px calc(70 / 1174 * 100%) 0px 0px;
		}
		@media (max-width: 992px) {
			display: none;
		}
		&__list {
			display: flex;
			flex: 1 1 auto;
			li {
				margin: 0px 55px 0px 0px;
				@media (min-width: 1440px) {
					&:nth-child(2) {
						margin: 0px 64px 0px 0px;
					}
					&:nth-child(3) {
						margin: 0px 68px 0px 0px;
					}
				}
				@media (max-width: 1439px) {
					margin: 0px calc(40 / 633 * 100%) 0px 0px;
				}
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}

		&__link {
			font-weight: 300;
			font-size: 15px;
			color: $white;
			transition: 0.4s ease;
			&:hover {
				color: $orange;
			}
		}
	}

	&-socials {
		display: flex;
		align-items: center;
		@media (max-width: 992px) {
			flex: 1 1 100%;
			justify-content: space-between;
			padding: 0 43px 0 30px;
			align-items: unset;
		}
		&__link {
			font-size: 22px;
			line-height: 22px;
			color: #356679;
			transition: 0.4s ease;
			margin: 0px 50px 0px 0px;
			@media (max-width: 1439px) {
				margin: 0px 25px 0px 0px;
			}
			@media (max-width: 992px) {
				font-size: 19px;
				line-height: 1;
			}
			&:first-child {
				@media (max-width: 992px) {
					margin: 0 27px 0 3px;
				}
			}
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			&:hover {
				color: $orange;
			}
		}
	}

	&__copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		font-size: 15px;
		font-weight: 700;
		color: #4f4f55;
		cursor: unset;
		@media (max-width: 992px) {
			font-size: 13px;
			align-items: unset;
			span {
				margin: 12px 0px 0px 0px;
				@media (min-width: 1440px) {
					padding: 0px 0px 0px 47px;
				}
			}
		}
	}
}

// ====================================================================================================================
